{% extends 'weather_app/base.html' %}

{% block title %}Удалить Прогноз - Погодное Приложение{% endblock %}

{% block content %}
<h2>Удалить Прогноз</h2>
<p>Вы уверены, что хотите удалить прогноз погоды в городе "{{ forecast.city.name }}, {{ forecast.city.country }}" на дату "{{ forecast.date }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Удалить</button>
    <a href="{% url 'forecast_detail' forecast.pk %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}
